// Colors
$color-dark: #1F1F1F;
$color-accent: #5F514E;
$color-beige: #EBDCC3;
$color-light: #F3F5F2;
$color-white: #ffffff;

// Typography
$font-primary: 'Montserrat', sans-serif;

$font-size-h1: 58px;
$font-size-h2: 32px;
$font-size-body: 18px;

// Spacing
$spacing-section: 80px;
$spacing-card: 20px;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
